@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*navbar styles credit: Codehal*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('default-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent; /*#facf5a;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .2s;
}

.navbar a:hover::before {
    width: 100%;
}

.table-container {
    text-align: center;
    overflow-y: auto; 
    margin-top: 100px;
    
}

.table1 {
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse; 
    background-color: rgba(255, 255, 255, 0.3);
}

th {
    background-color: transparent; 
    color: white; 
    padding: 10px;
    text-align: left;
}

td {
    padding: 5px; 
    color: white;
    text-align: left;
}

.centeredItems {
    /* width: 50%;
    margin: auto; */

    text-align: center;
    margin-top: 100px;

}

.centeredItem2 {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    padding: 2.5px 5px;
    background-color: white;
    color: grey;
}

.centeredItem2:hover {
    background-color: rgb(83, 161, 103);
    color: white;

}

.form-control,
.button {
    font-size: 16px;
    padding: 5px 10px;
}

.flag-select {
    font-size: 14px;
    letter-spacing: -7px;
    width: 68px;
}

.description-cell {
    font-size: 12px;
    color:rgba(75, 75, 75, 0.7);
    padding-left: 14px;

}

.description-text-box {
    font-size: 12px;
    padding: 1px 1px;
    width: 400px;

}

.circular-button {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    border-color: white;
    background-color: transparent; 
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.circular-button:hover {
    border-color: red;
}

.sort-btn-form {
    display: inline;
}

.sort-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline; 
    color: white;
}

.sort-btn:hover {
    color: rgb(109, 168, 245);
}

.info-text {
    font-size: 14px;
    color:rgba(190, 190, 190, 0.7);
    position: fixed;
    bottom: 0;
    width: 60%; 
    padding: 10px;
    text-align: center; 
    left: 50%;
    transform: translateX(-50%);
}

.error-text {
    text-align: center;
    padding: 300px;
    font-size: 50px;
    color: white;
}

.edit-button {
    opacity: 75%;
    border-color: transparent;
    background-color: transparent;
    font-size: 16px;
    color: white;
}

.edit-button:hover {
    background-color: white;
    color: darkgray;
}

.settings-radio-buttons {
    font-size: 20px;
    color: white;
    padding: 100px;
    text-align: left;
    
}

.settings-option-header {
    font-size: 24px;
    color: white;
    text-align: left;
    font-weight: bold;
    margin-top: 30px;
}

.unarchive-button {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    padding: 2.5px 5px;
    background-color: white;
    color: grey;
}

.unarchive-button:hover {
    color: white;
    background-color: darkgray;
}

.default-bg {
    background: url('default-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.gray-bg {
    background: url('gray-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.blue-bg {
    background: url('blue-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.green-bg {
    background: url('green-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}